body{
    background: #000;
}


.wrapper {
    display: grid;
    grid-template-columns: 150px 150px 200px;

  }

.squared1 {
    width: 100px;
    height: 100px;
    margin: 10px 0;
    border-radius: 20%;
    border: 2px solid red;
    background: #353b48;
    box-shadow: 5px 5px 20px red;
}

.squared2 {
    width: 100px;
    height: 100px;
    margin: 10px 0;
    border-radius: 20%;
    border: 2px solid blue;
    background: #353b48;
    box-shadow: 5px 5px 20px blue;
}

.squared3 {
    width: 100px;
    height: 100px;
    margin: 10px 0;
    border-radius: 20%;
    border: 2px solid green;
    background: #353b48;
    box-shadow: 5px 5px 20px green;
}