body{
    background: #000;
    font-family: 'Russo One', sans-serif;
    color:white;
}

h1{
    text-align: center;
    font-size: 90px;
}
.wrapper {
    display: grid;
    grid-template-columns: 150px 150px 200px;

  }

  .framework{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    margin-left: 100px;
}
  

.squared1 {
    width: 100px;
    height: 100px;
    margin: 10px 0;
    border-radius: 20%;
    border: 2px solid red;
    background: #353b48;
    box-shadow: 5px 5px 20px red;
}

.squared2 {
    width: 100px;
    height: 100px;
    margin: 10px 0;
    border-radius: 20%;
    border: 2px solid blue;
    background: #353b48;
    box-shadow: 5px 5px 20px blue;
}

.squared3 {
    width: 100px;
    height: 100px;
    margin: 10px 0;
    border-radius: 20%;
    border: 2px solid green;
    background: #353b48;
    box-shadow: 5px 5px 20px green;
}