:root{
    --mainColor: #f5f6fa;
    --backColor : #1e272e;
}


body{
    background: var(--backColor);
    font-family: 'Russo One', sans-serif;
    color:white;
    overflow: hidden;
}

/*MOVING CIRCLE*/
.circle{
    position: absolute;
    border-radius: 50%;
    background: var(--mainColor);
    animation: ripple 15s infinite;
    box-shadow: 0px 0px 1px 0px var(--backColor);
}

.small{
    width: 200px;
    height: 200px;
    left: -100px;
    bottom: -100px;
}

.medium{
    width: 400px;
    height: 400px;
    left: -200px;
    bottom: -200px;
}

.large{
    width: 600px;
    height: 600px;
    left: -300px;
    bottom: -300px;
}

.xlarge{
    width: 800px;
    height: 800px;
    left: -400px;
    bottom: -400px;
}

.xxlarge{
    width: 1000px;
    height: 1000px;
    left: -500px;
    bottom: -500px;
}

.shade1{
    opacity: 0.2;
}

.shade2{
    opacity: 0.5;
}

.shade3{
    opacity: 0.7;
}

.shade4{
    opacity:0.8;
}
.shade5{
    opacity: 0.9;
}

@keyframes ripple{
    0%{
        transform: scale(0.8);
    }
    50%{
        transform: scale(1.4);
    }
    100%{
        transform: scale(0.8);
    }
}

h1{
    text-align: center;
}
.startButton{
    font-family: 'Russo One', sans-serif;
    margin-left: 400px;
    background: var(--mainColor);
    color:black;
    width: 200px;
    height:50px;
    border-radius: 5px 5px 5px 5px;
    border: 2px solid var(--mainColor);
    box-shadow: 5px 5px 20px var(--mainColor);
}
/*Little bit of responsive*/

@media screen and (min-width: 1630px){
    .startButton{
        font-family: 'Russo One', sans-serif;
        margin-left: 750px;
        background: var(--mainColor);
        color:black;
        width: 200px;
        height:50px;
        border-radius: 5px 5px 5px 5px;
        border: 2px solid var(--mainColor);
        box-shadow: 5px 5px 20px var(--mainColor);
    }
}

@media screen and (max-width:460px){
    .startButton{
        font-family: 'Russo One', sans-serif;
        margin-left: 120px;
        background: var(--mainColor);
        color:black;
        width: 200px;
        height:50px;
        border-radius: 5px 5px 5px 5px;
        border: 2px solid var(--mainColor);
        box-shadow: 5px 5px 20px var(--mainColor);
    }
        
}
