:root{
    --mainColor: #000;
    --Buttons: #353b48;
    --firstButton: #e84118;
    --secondButton: #3742fa;
    --thirdButton: #05c46b;

}

body{
    background-color: var(--mainColor);
    font-family: 'Russo One', sans-serif;
    color:white;
}

h1{
    text-align: center;
    font-size: 90px;
}
.wrapper {
    display: grid;
    grid-template-columns: 150px 150px 200px;

  }

  .framework{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    margin-left: 100px;
}
  

.squared1 {
    width: 100px;
    height: 100px;
    margin: 10px 0;
    border-radius: 20%;
    border: 2px solid var(--firstButton);
    background: var(--Buttons);
    box-shadow: 5px 5px 20px var(--firstButton);
}

.squared2 {
    width: 100px;
    height: 100px;
    margin: 10px 0;
    border-radius: 20%;
    border: 2px solid var(--secondButton);
    background: var(--Buttons);
    box-shadow: 5px 5px 20px var(--secondButton);
}

.squared3 {
    width: 100px;
    height: 100px;
    margin: 10px 0;
    border-radius: 20%;
    border: 2px solid var(--thirdButton);
    background: var(--Buttons);
    box-shadow: 5px 5px 20px var(--thirdButton);
}