:root{
    --mainColor: #0e0c0c;
    --Buttons: #000;
    --firstButton: #e84118;
    --secondButton: #3742fa;
    --thirdButton: #05c46b;
    --masterVolume: white;
    --movingColor: #f1c40f;

}

body{
    overflow: hidden;
    background-color: var(--mainColor);
    font-family: 'Russo One', sans-serif;
    color:white;
}

h1{
    text-align: center;
    font-size: 90px;
}

.aCase{
    font-size: 60px;
    text-align: center;
    margin-top: 14px;
}
.wrapper {
    display: grid;
    grid-template-columns: 150px 150px 200px;

  }

  .framework{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    margin-left: 100px;
}
  

.squared1{
    width: 100px;
    height: 100px;
    margin: 10px 0;
    border-radius: 20%;
    border: 2px solid var(--firstButton);
    background: var(--Buttons);
    box-shadow: 5px 5px 20px var(--firstButton);
}

.squared2 {
    width: 100px;
    height: 100px;
    margin: 10px 0;
    border-radius: 20%;
    border: 2px solid var(--secondButton);
    background: var(--Buttons);
    box-shadow: 5px 5px 20px var(--secondButton);
}

.squared3 {
    width: 100px;
    height: 100px;
    margin: 10px 0;
    border-radius: 20%;
    border: 2px solid var(--thirdButton);
    background: var(--Buttons);
    box-shadow: 5px 5px 20px var(--thirdButton);
}

.controlerVolume {
    transform: rotate(90deg);
    width: 160px;
    height: 30px;
    border-radius:  25px;
    box-shadow: 5px 5px 20px var(--masterVolume);
    position: absolute;
    left: 546px;
    top:490px;
    z-index: 1;
}

.volumeConfig{
    transform: rotate(-90deg);
    position: absolute;
    top:490px;
    left:558px;
    z-index: 2;
}



@media screen and (min-width:730px){
    .controlerVolume {
        transform: rotate(90deg);
        width: 160px;
        height: 30px;
        border-radius:  25px;
        box-shadow: 5px 5px 20px var(--masterVolume);
        position: absolute;
        left: 647px;
        top:490px;
        z-index: 1;
}
    .volumeConfig{
        transform: rotate(-90deg);
        position: absolute;
        top:490px;
        left:659px;
        z-index: 2;
}}


@media screen and (min-width:520px){
    .controlerVolume {
        transform: rotate(180deg);
        width: 160px;
        height: 30px;
        border-radius:  25px;
        box-shadow: 5px 5px 20px var(--masterVolume);
        position: absolute;
        left: 200px;
        top:787px;
        z-index: 1;
}
    .volumeConfig{
        transform: rotate(-360deg);
        position: absolute;
        top:790px;
        left:200px;
        z-index: 2;
}}